.container {
   height: 100vh;
   background-size: cover;
   -ms-background-size: cover;   
   -o-background-size: cover;   
   -moz-background-size: cover;   
   -webkit-background-size: cover; 
   background-image: url('../../assets/img/general-img/auth-bg.png');
   padding-top: 200px;
}
.wrapper {
   width: 830px;
   margin: 0 auto;
}
.title {
   color: var(--color-white);
   font-size: 36px;
   font-weight: 900;
   text-align: start;
   margin-bottom: 52px;
}
.authBox {
   background: linear-gradient(to right, #2B2F35 0%, #25282D 100%);
   border-radius: 20px;
   padding: 40px 42px 52px 42px;
}
